Button.json
[{"id":"3ed6f731.87b488","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"3c8462f1.7b156e","type":"rpi-gpio in","z":"3ed6f731.87b488","name":"GPIO4","pin":"7","intype":"tri","debounce":"25","read":true,"x":70,"y":500,"wires":[["2591a1ee.42e43e"]]},{"id":"2591a1ee.42e43e","type":"function","z":"3ed6f731.87b488","name":"Sst GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":480,"wires":[["f825a365.8bb0d"]]},{"id":"61e4f1d9.476b","type":"function","z":"3ed6f731.87b488","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["43fd3721.0b3f48","f825a365.8bb0d"]]},{"id":"54a377b3.82c748","type":"http in","z":"3ed6f731.87b488","name":"","url":"/switch","method":"get","upload":false,"swaggerDoc":"","x":120,"y":320,"wires":[["61e4f1d9.476b"]]},{"id":"43fd3721.0b3f48","type":"http response","z":"3ed6f731.87b488","name":"","statusCode":"","headers":{},"x":540,"y":360,"wires":[]},{"id":"f825a365.8bb0d","type":"debug","z":"3ed6f731.87b488","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":500,"wires":[]}]