LED.json
[{"id":"dc068cfc.a247a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"912dc59.756de38","type":"http in","z":"dc068cfc.a247a","name":"Set GPIO5","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":80,"y":280,"wires":[["3886ff16.ef5c8","d115cfe7.e7653"]]},{"id":"3886ff16.ef5c8","type":"function","z":"dc068cfc.a247a","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":260,"wires":[["96ce24ee.c3e128"]]},{"id":"96ce24ee.c3e128","type":"rpi-gpio out","z":"dc068cfc.a247a","name":"Pin 29","pin":"29","set":"","level":"0","freq":"","out":"out","x":650,"y":220,"wires":[]},{"id":"d115cfe7.e7653","type":"function","z":"dc068cfc.a247a","name":"Return Status","func":"msg.payload=\"GPIO5 Set to High\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["4c5c6e06.fc8d4","969d9857.d6b128"]]},{"id":"969d9857.d6b128","type":"http response","z":"dc068cfc.a247a","name":"","statusCode":"","headers":{},"x":650,"y":320,"wires":[]},{"id":"4c5c6e06.fc8d4","type":"debug","z":"dc068cfc.a247a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":650,"y":400,"wires":[]},{"id":"1c6b5f0a.4aa661","type":"http in","z":"dc068cfc.a247a","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":200,"y":640,"wires":[["96612e7a.e3ee4","ebf02b55.0ed3d8"]]},{"id":"96612e7a.e3ee4","type":"function","z":"dc068cfc.a247a","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":620,"wires":[["96ce24ee.c3e128"]]},{"id":"ebf02b55.0ed3d8","type":"function","z":"dc068cfc.a247a","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\"\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":720,"wires":[["4c5c6e06.fc8d4"]]}]